// Colors
$_soft-red: hsl(7, 99%, 70%);
$_yellow: hsl(51, 100%, 49%);
$_dark-saturate-cyan: hsl(167, 40%, 24%);
$_dark-blue: hsl(198, 62%, 26%);
$_dark-moderate-cyan: hsl(168, 34%, 41%);
$_very-dark-desaturated-blue: hsl(212, 27%, 19%);
$_very-dark-grayish-blue: hsl(213, 9%, 39%);
$_dark-grayish-blue: hsl(232, 10%, 55%);
$_grayish-blue: hsl(210, 4%, 67%);
$_creme: hsl(34, 100%, 99%);
$_white: hsl(210, 4%, 67%);

// UI Colors
$primary-color: $_soft-red;
$secondary-color: $_yellow;

$bg-color: $_creme;
$gd-text-color: $_dark-saturate-cyan;
$photo-text-color: $_dark-blue;
$bg-footer: $_dark-moderate-cyan;