// Colors
$_soft-red: hsl(7, 99%, 70%);
$_yellow: hsl(51, 100%, 49%);
$_dark-saturate-cyan: hsl(167, 40%, 24%);
$_dark-blue: hsl(198, 62%, 26%);
$_dark-moderate-cyan: hsl(168, 34%, 41%);
$_very-dark-desaturated-blue: hsl(212, 27%, 19%);
$_very-dark-grayish-blue: hsl(213, 9%, 39%);
$_dark-grayish-blue: hsl(232, 10%, 55%);
$_grayish-blue: hsl(210, 4%, 67%);
$_white: hsl(210, 4%, 67%);
$_moderate-cyan: hsl(168,44%,70%);

$_dark-moderate-blue:hsl(197,84%,13%);
$_dark-blue: hsl(198, 62%, 26%);

// Added colors
$_creme: hsl(34, 100%, 99%);
$_white2: hsl(255, 100%, 100%);
$_red: hsl(1, 100%, 47%);
$_yellow2: hsl(58, 100%, 49%);
$_green: hsl(121, 100%, 40%);

// Color theme
$light-color: $_white2;
$primary-color: $_soft-red;
$secondary-color:  $_yellow;
$sucess-color: $_green;
$danger-color: $_red;
$warming-color: $_yellow2;

$color-theme: (
    "light": $light-color,
    "primary": $primary-color,
    "secondary": $secondary-color,
    "sucess": $sucess-color,
    "danger": $danger-color,
    "warming": $warming-color
);

// UI Colors
$body-bg-color: $_creme;
$param-text-color: $_dark-grayish-blue;
$title-text-color: $_very-dark-desaturated-blue;
$btn-text-color: $_very-dark-desaturated-blue;

$footer-bg-color: $_moderate-cyan;
$footer-text-color:  $_dark-moderate-cyan;

$mobile-menu-bg-color: $_creme;
$mobile-menu-text-color: $_dark-grayish-blue;

$testimonial-title-color: $_grayish-blue;
$testimonial-text-color: $_very-dark-grayish-blue;

$btn-text-color: $_very-dark-desaturated-blue;

$gd-text-color: $_dark-saturate-cyan;
$ft-text-color: $_dark-moderate-cyan;

$photo-title-color: $_dark-saturate-cyan;
$photo-text-color: $_dark-blue;
$graphic-text-color: $_dark-saturate-cyan;

// Transition into colors
$opacity-transition: 0.3s linear;