@use "../settings/typography";
@use "../settings/colors";

.button {
    padding: 1em 2em 1.06em 2.13em;
    border: 0;
    border-radius: 1.5556rem;

    font-family: typography.$font-fraunces;
    font-weight: 700;
    line-height: 1.3889rem;
    font-size: typography.$fs-button;

    cursor: pointer;

    @each $name, $color in colors.$color-theme {
        @if ($name == "light") {
            &--#{$name} {
                color: colors.$btn-text-color;
                background: $color;

                transition: background colors.$opacity-transition;
                &:hover {
                    color: $color;
                    background: rgba($color, 0.25);
                }
            }
        } @else {
            &--#{$name} {
                color: colors.$btn-text-color;
                background: $color;

                transition: background colors.$opacity-transition;
                &:hover {
                    background: rgba($color, 0.25);
                }
            }
        }
    }
}
