@use "../settings/typography";
@use "../settings/colors";

.card{
    position: relative;

    &__image{
        display: block;
        width: 100%;
        height: auto;
        min-height: 600px;

        object-fit: cover;
    }

    &__article{
        position: absolute;
        bottom: 0;
        margin-bottom: 59px;

        text-align: center;
    }

    &__title{
        font-family: typography.$font-fraunces;
        margin:0 0 27px 0;
    }

    &__text{
        margin: 0;
        line-height: 27px;
    }
}