@use "../settings/colors";

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: colors.$footer-bg-color;
    padding: 3.5556rem 2.1667rem 4.4444rem 2.1667rem;

    &__logo {
        filter: invert(36%) sepia(71%) saturate(351%) hue-rotate(118deg) brightness(50%) contrast(88%);
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 3.1111rem;
        margin-top: 2.2222rem;
    }

    &__link {
        color: colors.$footer-text-color;
        transition: color colors.$opacity-transition;

        &:hover {
            color: colors.$light-color;
        }
    }

    .social {
        margin-top: 4.8889rem;
    }
}

