.header{
    min-height: 100vh;
    padding: 1.7778rem 1.3333rem;

    background: url("../../../images/mobile/image-header.jpg");
    background-position: center;
    background-size: cover;

    @media  screen and (min-width: 768px) {
        background: url("../../../images/desktop/image-header.jpg");
        background-position: bottom;
        background-size: cover;
    }
}