@use "../settings/colors";
@use "../settings/typography";

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.8889rem 0;

    &__title {
        font-family: typography.$font-fraunces;
        color: colors.$light-color;
        font-size: typography.$fs-title-mobile-hero;
        text-align: center;
        line-height: 49px;
        font-weight: 900;
        letter-spacing: 6.25px;

        @media screen and (min-width: 728px) {
            font-size: typography.$fs-title-hero;
        }
    }

    &__arrow{
        margin: 52px 0 0 0;
        animation: slide 0.5s linear;
    }

}

@keyframes slide {
    from{
        opacity: 0;
        transform: translateY(-20%);

    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}