@use "../settings/colors";
@use "../settings/layout";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__toggle {
        background: none;
        border: none;
        opacity: 1;
        transition: opacity colors.$opacity-transition;
        cursor: pointer;

        &.active{
            opacity: 0.5;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
    }

    &__item {
        display: inline;
        margin-right: 47px;
    }

    &__link {
        color: colors.$light-color;
        transition: color colors.$opacity-transition;

        &:hover {
            color: colors.$param-text-color;
        }
    }

    &__nav {
        margin-left: auto;
    }

    &__logo {
        width: 12.57%;
        min-width: 6.8689rem;
        max-width: 9.4444rem;
    }
}
