@use "../settings/typography";
@use "../settings/layout";
@use "../tools/media-screen" as mixin;

.services {
    display: flex;
    flex-wrap: wrap;

    &__wrapper {
        position: relative;
        flex: max(375px, 50%);
    }
    &__image {
        display: block;
        width: 100%;
        height: auto;
<<<<<<< HEAD
        min-height: 37.5rem;
=======
        min-height: 33.3333rem;
>>>>>>> master

        object-fit: cover;
    }

    &__article {
        position: absolute;
        bottom: 0;
        left: 25%;
        right: 25%;
        margin: 3.2778rem 0;
        text-align: center;
<<<<<<< HEAD
        max-width: 49ch;
        padding: 0 24px;
=======
        width: 100%;
        padding: 0 #{layout.$ct-min-padding};

        @include mixin.media-screen(layout.$md-bp) {
            max-width: 47ch;
        }
>>>>>>> master
    }

    &__title {
        font-family: typography.$font-fraunces;
        margin: 0 0 1.5rem 0;
    }

    &__text {
        margin: 0;
        line-height: 1.5rem;
    }
}
