@use "../settings/colors";

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5556rem;

    &__icon {
        display: block;
    }

    &__link:hover &__icon {
        animation: bright 1s linear;
    }
}

@keyframes bright {
    from {
        filter: brightness(1);
    }
    to {
        filter: brightness(10);
    }
}
