@use "../settings/typography";
@use "../settings/colors";
@use "../settings/layout";
@use "../tools/media-screen" as mixin;

.testimonials {
    margin: 9.0556rem auto 8.8889rem auto;

    &__title {
        text-align: center;
        font-family: typography.$font-fraunces;
        line-height: 1.0961rem;
        letter-spacing: 0.2222rem;
        color: colors.$testimonial-title-color;
        margin: 0;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(clamp(100%/ (3 + 1) + 0.1%, (#{layout.$md-bp} - 100vw) * 1000, 100%), 1fr)
        );
        gap: 3.5556rem;
        padding: 4.5556rem 0 0.3889rem 0;
    }

    &__avatar {
        width: 4rem;
        height: 4rem;
        clip-path: circle();
    }

    &__card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        max-width: 100%;
        justify-self: center;
    }

    &__info {
        text-align: center;
    }

    &__text {
        text-align: center;
        color: colors.$testimonial-text-color;
        line-height: 1.7778rem;
        margin: 3.2222rem 0 3.8333rem 0;    
    }

    &__name {
        margin: 0;
        font-family: typography.$font-fraunces;
    }

    &__range {
        margin: 0.5rem 0 0 0;
        color: colors.$testimonial-title-color;
    }

    @include mixin.media-screen(layout.$md-bp) {

        &__title {
            font-size: 1.1111rem;
        }

        &__item {
            justify-content: space-between;
            max-width: 19.4444rem;
        }

        &__wrapper {
            gap: 1.6667rem;
        }
    }
}
