@use "../settings/typography";
@use "../settings/colors";
@use "../settings/layout";
@use "../tools/media-screen" as mixin;

.testimonials {
    margin: 3.5556rem auto;

    &__title {
        text-align: center;
        font-family: typography.$font-fraunces;
        line-height: 1.0961rem;
        letter-spacing: 0.2222rem;
        color: colors.$testimonial-title-color;
        margin: 0;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(clamp(100%/ (3 + 1) + 0.1%, (#{layout.$md-bp} - 100vw) * 1000, 100%), 1fr)
        );
        gap: 3.5556rem;
        padding: 4.5556rem 0;
    }

    &__avatar {
        width: 4rem;
        height: 4rem;
        clip-path: circle();
    }

    &__item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1.6667rem;
        align-items: center;
        max-width: 19.4444rem;
        justify-self: center;
    }

    &__info {
        text-align: center;
        margin-bottom: 2.0556rem;
        margin-top: 0;
    }

    &__text {
        text-align: center;
        color: colors.$testimonial-text-color;
        line-height: 1.7778rem;
        margin: 1.7778rem 0;
    }

    &__name {
        margin: 0;
        font-family: typography.$font-fraunces;
    }

    &__range {
        margin: 0.5rem 0 0 0;
        color: colors.$testimonial-title-color;
    }

    @include mixin.media-screen(layout.$md-bp) {
        margin: 10rem auto;

        &__info {
            margin-top: 2.0556rem;
        }

        &__item {
            justify-content: space-between;
        }

        &__wrapper {
            gap: 1.6667rem;
        }
    }
}
