@use "../settings/layout";

.container {
    max-width: layout.$ct-res-width;
    padding: 0 layout.$ct-min-padding;
    margin-left: auto;
    margin-right: auto;

    @media  screen and (min-width: layout.$md-bp) {
        max-width: calc(#{layout.$ct-max-width} + (#{layout.$ct-min-padding} * (2)));
    }
}